body {
    padding-top: 50px;
}

.thumb-big {
    height: 199px;
}

.movies-list {
    text-align: center;
}

.movies-list .movie {
    cursor: pointer;
}

.movies-list .panel-title {
    font-weight: bold;
}

.movies-list .panel-footer {
    height: 80px;
}

.movie .thumb {
    max-width: 300px;
}

.movie .detail {
    clear: both;
}

.movie .info {
    display: block;
    float: left;
    width: 80px;
    font-weight: bold;
}

.movie .review {
    clear: both;
    margin-top: 20px;
}
