body {
    padding-top: 50px;
}

.thumb {
    height: 199px;
}

.thumb-big {
    max-width: 300px;
}

.genre {
    text-transform: capitalize;
}

.media-type {
    text-transform: uppercase;
}

.movies-list {
    text-align: center;
}

.movies-list .movie {
    cursor: pointer;
}

.movies-list .panel-title {
    font-weight: bold;
    font-size: 0.9em;
}

.movies-list .panel-footer {
    height: 80px;
}

.movie .thumb {
    max-width: 300px;
}

.movie .detail {
    clear: both;
}

.movie .info {
    display: block;
    float: left;
    width: 90px;
    font-weight: bold;
}

.movie .review {
    clear: both;
    margin-top: 20px;
}

.movie .delete {
    cursor: pointer;
}
