<div ng-show="movie">
    <h2>Edit movie</h2>
    <div class="col-md-8">
        <form role="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" ng-model="movie.name" />
            </div>
            <div class="form-group">
                <label for="length">Length (min)</label>
                <input type="text" name="length" class="form-control" ng-model="movie.length" />
            </div>
            <div class="form-group">
                <label for="year">Year</label>
                <input type="text" name="year" class="form-control" ng-model="movie.year" />
            </div>
            <div class="form-group">
                <label for="genre">Genre</label>
                <select name="genre" class="form-control" ng-model="movie.genre">
                    <option value="Action">Action</option>
                    <option value="Animation">Animation</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Comedie">Comedie</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Horror">Horror</option>
                    <option value="Romance">Romance</option>
                    <option value="Science-Fiction">Science-Fiction</option>
                    <option value="Thriller">Thriller</option>
                    <option value="War">War</option>
                    <option value="Musicals">Musicals</option>
                </select>
            </div>
            <div class="form-group">
                <label for="thumb">Thumbnail</label>
                <input type="text" name="thumb" class="form-control" ng-model="movie.thumb" />
            </div>
            <div class="form-group">
                <label for="rating">Rating</label>
                <select class="form-control" ng-model="movie.rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="review">Review</label>
                <textarea class="form-control" style="height: 160px;" ng-model="movie.review"></textarea>
            </div>
            <div class="form-group">
                <button ng-click="save()" class="btn btn-primary pull-right">Save</button>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <img ng-src="{{movie.thumb}}" />
    </div>
</div>
