<h2>Movies</h2>
<input type="text" placeholder="Search Movies" class="form-control" data-ng-model="search" />

<div class="">
    <!-- Example row of columns -->
    <div class="row movies-list">
        <div class="col-md-4 movie"
                data-ng-repeat="movie in movies | orderBy:'name':false | filter:search"
                ng-click="displayMovie(movie)">
            <h2>{{movie.name | uppercase}}</h2>
            <img data-ng-src="{{movie.thumb}}" class="thumb-big">
            <p>{{movie.review | limitTo:99}}...</p>
        </div>
</div>
</div>
