<div ng-show="movie">
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="glyphicon glyphicon-edit">
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#/edit/{{movie._id}}">Edit</a></li>
            <li class="divider"></li>
            <li><a href="#/" ng-click="delete()" class="link">Delete</a></li>
        </ul>
    </div>
    <h3>{{movie.name}}</h3>
    <div class="row">
        <div class="col-md-4">
            <img data-ng-src="{{movie.thumb}}">
        </div>
        <div class="col-md-6">
            <h4>Review</h4>
            <div data-ng-repeat="i in getCount(movie.rating) track by $index" class="glyphicon glyphicon-star"></div>
            <div>{{movie.review}}</div>
        </div>
    </div>
</div>
